<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pigeon.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--TEST PROFILE INFORMATION  
    <add key="FedExKey" value="vfV9BVLeo7gbLmVj"></add>
    <add key="FedExPassword" value="6jz63gHpU0xjYmYwfwq5BfUAr"></add>
    <add key="FedExAccountNumber" value="510087143"></add>
    <add key="FedExMeterNumber" value="118647514"></add>
  -->
    <add key="FedExKey" value="REhEFIIauEQXMaYy"></add>
    <add key="FedExPassword" value="Ofeb7DLrGUYCHdPayktyaeN1u"></add>
    <add key="FedExAccountNumber" value="184874385"></add>
    <add key="FedExMeterNumber" value="107022011"></add>
    <add key="FedExWebServiceUrl" value="https://ws.fedex.com:443/web-services"></add>
    <add key="FedExLabelLocation" value="~/FedExLabels/"></add>
    <add key="FedExLabelDirectory" value="~/FedExLabels"></add>
    <add key="JSErrorMessageKeyword" value="ERRORMESSAGE"/>
    <add key="CKCompanyID" value="192"/>
    <add key="NonVendorID" value="0"/>
    <add key="NonReplyCKAutoPartsEmail" value="jamarlbiz@gmail.com"/>
    <add key="JoshWishnackCKAutoPartsEmail" value="jamarlbiz@gmail.com"/>
    <add key="AndrewRandCKAutoPartsEmail" value="jamarlbiz@gmail.com"/>
    <add key="SmtpServer" value="smtp.emailsrvr.com"/>
    <add key="MiscRepairShopCompanyID" value="0"/>
    <add key="MiscOwnerCompanyID" value="0"/>
    <add key="FixedLengthFileDirectory" value="~"/>
    <!-- ONLY CK sources can impersonate (throttled by code behind).  To impersonate set value to customer i.e. LarryMiller (case sensitive) -->
    <!-- As of this writing valid impersonate values [case-insensitive] are {'Autoway,LarryMiller,GO,BigValley,Fitz,DickMyers,DuPratt,Quirk,Gaudin,AutoNation,Mesa,GoPower,FMP} -->
    <add key="ImpersonateCustomer" value="none"/>
    <add key="CertifiedUKey" value="B4RY=O=DXHVNEU=8ZDKMJD5YK1TU65ZEA=UP8DW5KM2O0==C4L"/>
  </appSettings>
  <connectionStrings>
    <add name="PartsManagerConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=partsuser;Password=partsuser;Initial Catalog=PartsManager;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>

    <add name="CKConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=partsuser;Password=partsuser;Initial Catalog=PartsManager;Connect Timeout=200;Max Pool Size=500;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="GOConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=GO;Password=goStoresCO;Initial Catalog=GO;Connect Timeout=200" providerName="System.Data.SqlClient"/>
    <add name="GoPowerConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=gopowertrain;Password=G0power1;Initial Catalog=GoPowertrain;Connect Timeout=200;Max Pool Size=500" providerName="System.Data.SqlClient"/>
    <add name="LarryMillerConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=larrymiller;Password=HMillerLarry;Initial Catalog=LarryMiller;Connect Timeout=200" providerName="System.Data.SqlClient"/>
    <add name="FMPConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=fmp;Password=Fact0ryM0t0rs;Initial Catalog=FMP;Connect Timeout=200" providerName="System.Data.SqlClient"/>
    <add name="InspectionJournalConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=wiswebuser;Password=Wisuser1;Initial Catalog=InspectionJournal;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="TracyConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=Tracy;Password=tracyIND;Initial Catalog=Tracy;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="AutowayConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=Autoway;Password=auTowayChevy;Initial Catalog=Autoway;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="BigValleyConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=bigvalley;Password=ValleyBig!92;Initial Catalog=BigValley;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="FitzConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=fitz;Password=#automall;Initial Catalog=Fitz;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="DickMyersConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=dickmyers;Password=!harrisonburgvA;Initial Catalog=DickMyers;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="DuPrattConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=dupratt;Password=PrattFord1;Initial Catalog=DuPratt;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="QuirkConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=quirk;Password=Qu1rk;Initial Catalog=Quirk;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="GaudinConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=gaudin;Password=!GaudinFord;Initial Catalog=Gaudin;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="AutoNationConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=autonation;Password=!Nati0n;Initial Catalog=AutoNation;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="MesaConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=brownmesa;Password=MesaBrown;Initial Catalog=Mesa;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"/>
    <add name="WranglerEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sandbox.wisinspections.com;initial catalog=Wrangler_QA;persist security info=True;user id=wiswebuser;password=Wisuser1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <machineKey
      validationKey="A82BD2398AC7622D3036BAA8F853AAFBB2B9C93FCD40C62A8388775AA6D15A27F78C64BBEA95D67944062C8EE408F5916D55F8FFF4FA6420839B3116F98B506A"
      decryptionKey="6BEA0F03CBE9F5D42E7E6D9A7E6DA2D04425C6BC614D114F99FF2921EF2656F6"
      validation="SHA1" decryption="AES"/>
    <httpRuntime maxRequestLength="32768" requestValidationMode="2.0" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership defaultProvider="CKMembershipProvider">
      <providers>
        <clear/>
        <add name="CKMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CKConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="AutowayMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AutowayConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="LarryMillerMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LarryMillerConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="GoMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="GoConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="BigValleyMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="BigValleyConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="FitzMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="FitzConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="DickMyersMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DickMyersConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="DuPrattMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DuPrattConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="QuirkMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="QuirkConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="GaudinMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="GaudinConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="AutoNationMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AutoNationConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="MesaMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MesaConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="GoPowerMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="GoPowerConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
        <add name="FMPMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="FMPConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CKConnectionString" applicationName="/"/>
      </providers>
    </profile>
    <roleManager defaultProvider="CKRoleProvider"
      enabled="true"
      cacheRolesInCookie="true"
      cookieName=".ASPROLES"
      cookieTimeout="30"
      cookiePath="/"
      cookieRequireSSL="false"
      cookieSlidingExpiration="true"
      cookieProtection="Encryption">
      <providers>
        <clear/>
        <add name="CKRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="CKConnectionString" />
        <add name="AutowayRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AutowayConnectionString" />
        <add name="LarryMillerRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LarryMillerConnectionString" />
        <add name="GoRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="GoConnectionString" />
        <add name="BigValleyRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="BigValleyConnectionString" />
        <add name="FitzRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="FitzConnectionString" />
        <add name="DickMyersRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DickMyersConnectionString" />
        <add name="DuPrattRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DuPrattConnectionString" />
        <add name="QuirkRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="QuirkConnectionString" />
        <add name="GaudinRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="GaudinConnectionString" />
        <add name="AutoNationRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AutoNationConnectionString" />
        <add name="MesaRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MesaConnectionString" />
        <add name="GoPowerRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="GoPowerConnectionString" />
        <add name="FMPRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="FMPConnectionString" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.emailsrvr.com" userName="autoemail@ckautoparts.com" password="ckemail12"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_PartsLookUpService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://appprd.dealercentral.net/PartsLookupService/PartsLookUpService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_PartsLookUpService" contract="AutoNation.PartsLookUpService" name="WSHttpBinding_PartsLookUpService"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Pigeon.My.MySettings>
      <setting name="Pigeon_CertifiedInService_InServices" serializeAs="String">
        <value>http://smtc.certifiedtransmission.com/app/services/external/InServices.asmx</value>
      </setting>
      <setting name="Pigeon_CertifiedSell_Warehouses" serializeAs="String">
        <value>http://smtc.certifiedtransmission.com/app/services/external/Warehouses.asmx</value>
      </setting>
      <setting name="Pigeon_CertifiedSignIn_People" serializeAs="String">
        <value>http://smtc.certifiedtransmission.com/app/services/external/People.asmx</value>
      </setting>
      <setting name="Pigeon_com_ckautoparts_www_ckwebservice" serializeAs="String">
        <value>http://www.ckautoparts.com/ckwebservice.asmx</value>
      </setting>
      <setting name="Pigeon_CertifiedLookup_Lookup" serializeAs="String">
        <value>http://smtc.certifiedtransmission.com/app/wcf/external/Lookup.svc/basic</value>
      </setting>
      <setting name="Pigeon_CKOEM_OEMWebService" serializeAs="String">
        <value>http://www.ckautoparts.com/OEMWebservice.asmx</value>
      </setting>
      <setting name="Pigeon_CertifiedSell2_Warehouses" serializeAs="String">
        <value>http://smtc.certifiedtransmission.com/app/wcf/external/Warehouses.svc/basic</value>
      </setting>
      <setting name="Pigeon_CertifiedInService2_InServices" serializeAs="String">
        <value>http://smtc.certifiedtransmission.com/app/wcf/external/InServices.svc/basic</value>
      </setting>
      <setting name="RateWebServiceClient_RateWebReference_RateService" serializeAs="String">
        <value>https://ws.fedex.com:443/web-services</value>
      </setting>
      <setting name="ShipWebServiceClient_ShipServiceWebReference_ShipService" serializeAs="String">
        <value>https://ws.fedex.com:443/web-services</value>
      </setting>
    </Pigeon.My.MySettings>
  </applicationSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>