<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ImpersonateCustomer" value="none" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </appSettings>
  <connectionStrings>
    <add name="CKConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=partsuser;Password=partsuser;Initial Catalog=PartsManager;Connect Timeout=200;Max Pool Size=500;MultipleActiveResultSets=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="GoPowerConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=gopowertrain;Password=G0power1;Initial Catalog=GoPowertrain;Connect Timeout=200;Max Pool Size=500"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LarryMillerConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=larrymiller;Password=HMillerLarry;Initial Catalog=LarryMiller;Connect Timeout=200"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="GOConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=GO;Password=goStoresCO;Initial Catalog=GO;Connect Timeout=200"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="FMPConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=fmp;Password=Fact0ryM0t0rs;Initial Catalog=FMP;Connect Timeout=200"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="InspectionJournalConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=wiswebuser;Password=Wisuser1;Initial Catalog=InspectionJournal_QA;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TracyConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=Tracy;Password=tracyIND;Initial Catalog=Tracy;Connect Timeout=200;Max Pool Size=3000" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AutowayConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=Autoway;Password=auTowayChevy;Initial Catalog=Autoway;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="BigValleyConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=bigvalley;Password=ValleyBig!92;Initial Catalog=BigValley;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="FitzConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=fitz;Password=#automall;Initial Catalog=Fitz;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DickMyersConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=dickmyers;Password=!harrisonburgvA;Initial Catalog=DickMyers;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DuPrattConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=dupratt;Password=PrattFord1;Initial Catalog=DuPratt;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="QuirkConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=quirk;Password=Qu1rk;Initial Catalog=Quirk;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="GaudinConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=gaudin;Password=!GaudinFord;Initial Catalog=Gaudin;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AutoNationConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=autonation;Password=!Nati0n;Initial Catalog=AutoNation;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MesaConnectionString" connectionString="Data Source=172.24.16.186;Persist Security Info=True;User ID=brownmesa;Password=MesaBrown;Initial Catalog=Mesa;Connect Timeout=200;Max Pool Size=3000"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WranglerEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sandbox.wisinspections.com;initial catalog=Wrangler_QA;persist security info=True;user id=wiswebuser;password=Wisuser1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </system.web>
</configuration>
