<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<authorization>
			<allow roles="Admin" />
		<deny users="?" />
			<!--	<deny users="*" />-->
			<allow roles="Customer" />
		</authorization>
		<compilation>
			<assemblies />
		</compilation>
	</system.web>
  <location path="FinalizeOrder.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
</configuration>