/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
	}
	a {color:#336699; font-weight:normal; line-height:normal; text-decoration:none;}
	a:hover {text-decoration:underline;}
	
	.button {/*padding: 10px;*/}
	
	/*h1 {font-size: 36px;color: #D6B600;margin: 0.2em 0;line-height:1.8em;}*/
	h2 {margin: 0.4em 0; color: #D6B600;}
	p {margin: 10px 0;}
	
	.success {color: Green;}
	.clear {clear:both;}
	
	.header {background: #fff;min-height:60px;margin: 20px 0;}
    .header img {max-height: 60px;}
	    #login-status {float:right;}
	
	.main 
	{
	    width: 90%;
        margin: 0 auto;
        border: 1px solid #CCC;
        border-radius: 8px;
        -moz-border-radius: 8px;
        max-width: 1100px;
    }
		
	.nav ul
    {
        padding-left: 0;
        margin-left: 0;
        background-color: #181818;
        color: White;
        float: left;
        width: 100%;
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
    }
    
    
    .nav ul li { display: inline; }

    .nav ul li a
    {
        padding: 0.2em 1em;
        background-color: #181818;
        color: White !important;
        text-decoration: none;
        float: left;
        border-right: 1px solid #fff;
        padding: 10px 20px;
    }
    .nav ul li a:hover, .nav ul .active a
    {
        background-color: #369;
        color: #fff;
    }
   
    
    #login-status{text-align: right;}
    
    #loading-overlay 
    {
        display: none;
        background: white;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 99;
        opacity: 0.8;
    }
	
	.small-form {margin: 10px 0;}
	.small-form h1 {font-size:14px; margin: 10px 0;}
	.small-form label {float:left;}
	.small-form input[type=text] {width:70%; margin-right: 30%; padding:5px; font-size: 16px;}
	.small-form input[type=submit] {margin: 10px 0;float: left;}
	.small-form .success {display: block;margin:10px;}
	
	.sidebar { border: 1px solid #ccc; min-height: 300px; margin: 10px 0;}
	
	label.error 
	{
	    float: none;
        width: 100%;
        display: block;
        font-size: 12px;
        color: red;
        margin-bottom: 5px;
    }
    
    p.error 
	{
	    float: none;
        width: 100%;
        display: block;
        font-size: 12px;
        color: red;
        margin-bottom: 5px;
    }

    input.error
    {
        border-width: 1px;
        border-color: red;   
    }
    
    .discounts .panel 
    {
        padding-right: 20%;
    }
    
    #discount-radios 
    {
        border: 1px solid #CCC;
        padding: 10px;
        margin-bottom: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        float: left;
    }
    #discount-radios input 
    {
        width: auto;
    }    

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}

#orderDetails thead
{
    background:lightblue;
    
}
#orderDetails td
{
    min-width:70px;
    margin: 5px;
    padding: 3px;
}

#details 
{
    
    width:1140px;
      margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;

}